<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://paymentfunction20220920184936.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/52b8f25e-fea0-48fc-a8c1-9b83c68b47a5/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/PaymentFunction20220920184936</ResourceId>
    <UserName>$PaymentFunction20220920184936</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://paymentfunction20220920184936.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>